
{% extends "base.html" %}
{% load bootstrap3 %}

{% block breadcrumb-page %} OrderItem List {% endblock breadcrumb-page %}

{% block title %}
<h1>OrderItem</h1>
{% endblock %} {% block content %}
<table class="table">
    <tr>
    <th>Order</th>
    <th>Product</th>
    <th>Orderedquantity</th>
    <th>Available</th>
    <th>Unitprice</th>
    <th>Unittax</th>
    <th>Value</th>
  {% if 'TODO_name.change_orderitem' in user.get_all_permissions %}
    <th>Update</th>
     {% endif %}
    {% if 'TODO_name.delete_orderitem' in user.get_all_permissions %}
    <th>Delete</th>
     {% endif %}
    </tr>

    {% for orderitem in object_list %}
   <tr>
    <td>{{ orderitem.order }}</td>
    <td>{{ orderitem.product }}</td>
    <td>{{ orderitem.orderedQuantity }}</td>
    <td>{{ orderitem.available }}</td>
    <td>{{ orderitem.unitPrice }}</td>
    <td>{{ orderitem.unitTax }}</td>
    <td>{{ orderitem.value }}</td>
      {% if 'TODO_name.change_orderitem' in user.get_all_permissions %}
 <td>     <a class="lsf-icon" title="edit" href="{% url 'TODO_name:orderitem_edit' orderitem.id %}">Update</a> </td>
    {% endif %}

    {% if 'TODO_name.delete_orderitem' in user.get_all_permissions %}
 <td>       <a class="lsf-icon" title="delete" href="{% url 'TODO_name:orderitem_delete' orderitem.id %}">Delete</a> </td>
    {% endif %}

    </tr>
 <tr>  

    
    {% endfor %}

{% if 'TODO_name.add_orderitem' in user.get_all_permissions %}
<td> <a class="lsf-icon" title="add" href="{% url 'TODO_name:orderitem_new' %}">New</a> </td>
{% endif %} </tr> </table>
{% endblock %}