
{% extends "base.html" %}
{% load bootstrap3 %}

{% block breadcrumb-page %} PriceListItem List {% endblock breadcrumb-page %}

{% block title %}
<h1>PriceListItem</h1>
{% endblock %} {% block content %}
<table class="table">
    <tr>
    <th>Product</th>
    <th>Pricelist</th>
    <th>Price</th>
    <th>Tax</th>
  {% if 'TODO_name.change_pricelistitem' in user.get_all_permissions %}
    <th>Update</th>
     {% endif %}
    {% if 'TODO_name.delete_pricelistitem' in user.get_all_permissions %}
    <th>Delete</th>
     {% endif %}
    </tr>

    {% for pricelistitem in object_list %}
   <tr>
    <td>{{ pricelistitem.product }}</td>
    <td>{{ pricelistitem.priceList }}</td>
    <td>{{ pricelistitem.price }}</td>
    <td>{{ pricelistitem.tax }}</td>
      {% if 'TODO_name.change_pricelistitem' in user.get_all_permissions %}
 <td>     <a class="lsf-icon" title="edit" href="{% url 'TODO_name:pricelistitem_edit' pricelistitem.id %}">Update</a> </td>
    {% endif %}

    {% if 'TODO_name.delete_pricelistitem' in user.get_all_permissions %}
 <td>       <a class="lsf-icon" title="delete" href="{% url 'TODO_name:pricelistitem_delete' pricelistitem.id %}">Delete</a> </td>
    {% endif %}

    </tr>
 <tr>  

    
    {% endfor %}

{% if 'TODO_name.add_pricelistitem' in user.get_all_permissions %}
<td> <a class="lsf-icon" title="add" href="{% url 'TODO_name:pricelistitem_new' %}">New</a> </td>
{% endif %} </tr> </table>
{% endblock %}