
{% extends "base.html" %}
{% load bootstrap3 %}

{% block breadcrumb-page %} Product List {% endblock breadcrumb-page %}

{% block title %}
<h1>Product</h1>
{% endblock %} {% block content %}
<table class="table">
    <tr>
    <th>Pricelistitem</th>
    <th>Orderitem</th>
    <th>Productname</th>
    <th>Description</th>
  {% if 'TODO_name.change_product' in user.get_all_permissions %}
    <th>Update</th>
     {% endif %}
    {% if 'TODO_name.delete_product' in user.get_all_permissions %}
    <th>Delete</th>
     {% endif %}
    </tr>

    {% for product in object_list %}
   <tr>
    <td>{{ product.priceListItem }}</td>
    <td>{{ product.orderItem }}</td>
    <td>{{ product.productName }}</td>
    <td>{{ product.description }}</td>
      {% if 'TODO_name.change_product' in user.get_all_permissions %}
 <td>     <a class="lsf-icon" title="edit" href="{% url 'TODO_name:product_edit' product.id %}">Update</a> </td>
    {% endif %}

    {% if 'TODO_name.delete_product' in user.get_all_permissions %}
 <td>       <a class="lsf-icon" title="delete" href="{% url 'TODO_name:product_delete' product.id %}">Delete</a> </td>
    {% endif %}

    </tr>
 <tr>  

    
    {% endfor %}

{% if 'TODO_name.add_product' in user.get_all_permissions %}
<td> <a class="lsf-icon" title="add" href="{% url 'TODO_name:product_new' %}">New</a> </td>
{% endif %} </tr> </table>
{% endblock %}