
{% extends "base.html" %}
{% load bootstrap3 %}

{% block breadcrumb-page %} State List {% endblock breadcrumb-page %}

{% block title %}
<h1>State</h1>
{% endblock %} {% block content %}
<table class="table">
    <tr>
    <th>Name</th>
  {% if 'TODO_name.change_state' in user.get_all_permissions %}
    <th>Update</th>
     {% endif %}
    {% if 'TODO_name.delete_state' in user.get_all_permissions %}
    <th>Delete</th>
     {% endif %}
    </tr>

    {% for state in object_list %}
   <tr>
    <td>{{ state.name }}</td>
      {% if 'TODO_name.change_state' in user.get_all_permissions %}
 <td>     <a class="lsf-icon" title="edit" href="{% url 'TODO_name:state_edit' state.id %}">Update</a> </td>
    {% endif %}

    {% if 'TODO_name.delete_state' in user.get_all_permissions %}
 <td>       <a class="lsf-icon" title="delete" href="{% url 'TODO_name:state_delete' state.id %}">Delete</a> </td>
    {% endif %}

    </tr>
 <tr>  

    
    {% endfor %}

{% if 'TODO_name.add_state' in user.get_all_permissions %}
<td> <a class="lsf-icon" title="add" href="{% url 'TODO_name:state_new' %}">New</a> </td>
{% endif %} </tr> </table>
{% endblock %}