{% extends 'app/main.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">     
            <form class="form-horizontal">
            {% csrf_token %}
              <fieldset>
                <legend>Invoice</legend>
                <div class="form-group">
                  <label class="col-lg-3 control-label">{{invoiceForm.invoiceDate.label}}</label>
                  <div class="col-lg-7">
                    {{invoiceForm.invoiceDate}}
                  </div>        
                  <label class="col-lg-3 control-label">{{invoiceForm.invoiceTotal.label}}</label>
                  <div class="col-lg-7">
                    {{invoiceForm.invoiceTotal}}
                  </div>        
                  <label class="col-lg-3 control-label">{{invoiceForm.invoiceNumber.label}}</label>
                  <div class="col-lg-7">
                    {{invoiceForm.invoiceNumber}}
                  </div>        
                  <label class="col-lg-3 control-label">{{invoiceForm.canceled.label}}</label>
                  <div class="col-lg-7">
                    {{invoiceForm.canceled}}
                  </div>        
                  <label class="col-lg-3 control-label">{{invoiceForm.order.label}}</label>
                  <div class="col-lg-7">
                    {{invoiceForm.order}}
                  </div>  
              </fieldset>
            </form>  
            {% if editable == "true" %}
            <form action="{% url 'modify_invoice' invoice_id %}" method="POST">
                 {% csrf_token %}
                  <input type="submit" class="btn btn-default" value="Edit" />
           </form>
           {% endif %}
        </div>
    </div>
</div>

{% endblock %}



{% block lists %}

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
  <div class="panel panel-default">
  </div>  
</div>

{% endblock %}