{% extends 'app/main.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">     
			<form class="form-horizontal" action="" method="POST">
			{% csrf_token%}
			  <fieldset>
			    <legend>OrderItem</legend>
			    <div class="form-group">
			      <label for="inputEmail" class="col-lg-2 control-label">{{orderItemForm.value.label}}</label>
			      <div class="col-lg-10">
			        {{orderItemForm.value}}
			      </div>        
			      <label for="inputEmail" class="col-lg-2 control-label">{{orderItemForm.orderedQuantity.label}}</label>
			      <div class="col-lg-10">
			        {{orderItemForm.orderedQuantity}}
			      </div>        
			      <label for="inputEmail" class="col-lg-2 control-label">{{orderItemForm.available.label}}</label>
			      <div class="col-lg-10">
			        {{orderItemForm.available}}
			      </div>        
			      <label for="inputEmail" class="col-lg-2 control-label">{{orderItemForm.unitPrice.label}}</label>
			      <div class="col-lg-10">
			        {{orderItemForm.unitPrice}}
			      </div>        
			      <label for="inputEmail" class="col-lg-2 control-label">{{orderItemForm.unitTax.label}}</label>
			      <div class="col-lg-10">
			        {{orderItemForm.unitTax}}
			      </div>        
			      <label for="inputEmail" class="col-lg-2 control-label">{{orderItemForm.order.label}}</label>
			      <div class="col-lg-10">
			        {{orderItemForm.order}}
			      </div>            
			      <label for="inputEmail" class="col-lg-2 control-label">{{orderItemForm.product.label}}</label>
			      <div class="col-lg-10">
			        {{orderItemForm.product}}
			      </div>            
				</div>
			    <div class="form-group">
			      <div class="col-lg-10 col-lg-offset-2">
			        <button type="reset" class="btn btn-default">Cancel</button>
			        <button type="submit" class="btn btn-primary">Submit</button>
			      </div>
			    </div>
			  </fieldset>
			</form>  
        </div>
    </div>
</div>

{% endblock %}