{% extends 'app/main.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">     
			<form class="form-horizontal" action="" method="POST">
			{% csrf_token%}
			  <fieldset>
			    <legend>StockKeepingUnit</legend>
			    <div class="form-group">
			      <label for="inputEmail" class="col-lg-2 control-label">{{stockKeepingUnitForm.available.label}}</label>
			      <div class="col-lg-10">
			        {{stockKeepingUnitForm.available}}
			      </div>        
			      <label for="inputEmail" class="col-lg-2 control-label">{{stockKeepingUnitForm.reserved.label}}</label>
			      <div class="col-lg-10">
			        {{stockKeepingUnitForm.reserved}}
			      </div>        
			      <label for="inputEmail" class="col-lg-2 control-label">{{stockKeepingUnitForm.stock.label}}</label>
			      <div class="col-lg-10">
			        {{stockKeepingUnitForm.stock}}
			      </div>            
				</div>
			    <div class="form-group">
			      <div class="col-lg-10 col-lg-offset-2">
			        <button type="reset" class="btn btn-default">Cancel</button>
			        <button type="submit" class="btn btn-primary">Submit</button>
			      </div>
			    </div>
			  </fieldset>
			</form>  
        </div>
    </div>
</div>

{% endblock %}